{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "root": true,
  "rules": {
    "no-console":"warn",
    "prettier/prettier": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-return-await": "off",
    "no-restricted-syntax": "off"
  }
}
